@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.alert {
  margin-left: auto;
  margin-right: auto;
  max-width: 1263px;
  padding: rem(47, 57);

  @media screen and (max-width: 1199px){
    max-width: 960px;
  }

  @media screen and (max-width: 767px){
    padding: rem(25, 15);
  }

  &-primary {
    background-color: $primary;
  }

  .caption {
    color: $light !important;
  }

}
