@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.article {
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: rem(15);

    @media screen and (max-width: 1440px){
      display: block;
    }
  }

  &__icon {
    font-size: 0;
    flex-shrink: 0;
    margin-right: rem(12);

    @media screen and (max-width: 1440px){
      margin-right: 0;
      margin-bottom: rem(15);
    }

    svg {
      @media screen and (max-width: 991px){
        width: 60px;
        height: 60px;
      }
    }

  }

  &__title {
    font-family: $font-gilroy-600;
    font-weight: 600;
    font-size: rem(36);
    line-height: 1.1944;
    color: $secondary;

    @media screen and (max-width: 1199px){
      font-size: rem(24);
    }
  }

  &__body {
    p {
      max-width: 441px;
      font-family: $font-gilroy-500;
      font-weight: 500;
      font-size: rem(24);
      line-height: 1.25;
      color: $secondary;

      @media screen and (max-width: 1199px){
        font-size: rem(18);
      }
    }
  }
}
