@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.list-items {
  font-size: 0;
}

.list-item {
  display: inline-flex;

  @media screen and (max-width: 991px){
    &:last-child {
      margin-bottom: rem(40);
    }
  }

  & + & {
    margin-top: rem(80);

    @media screen and (max-width: 991px){
      margin-top: rem(40);
    }
  }

  &__icon {
    flex-shrink: 0;

    @media screen and (min-width: 1200px) and (max-width: 1440px){
      width: rem(120);
      height: rem(120);
    }

    @media screen and (max-width: 1199px){
      width: rem(100);
      height: rem(100);
    }

    @media screen and (max-width: 1199px){
      width: rem(80);
      height: rem(80);
    }
  }

  &__content {
    padding-left: rem(30);
    padding-top: rem(5);
  }

  &__title {
    margin-bottom: rem(10);
    font-family: $font-gilroy-500;
    font-weight: 500;
    font-size: rem(30);
    line-height: 1;
    text-transform: uppercase;
    color: $secondary;

    @media screen and (max-width: 1199px){
      font-size: rem(22);
    }

    @media screen and (max-width: 480px){
      word-break: break-all;
    }

    .text-invert & {
      color: $light;
    }
  }

  &__text {
    font-family: $font-gilroy-400;
    font-weight: 400;
    font-size: rem(24);
    line-height: 1.1667;
    color: $secondary;

    @media screen and (max-width: 1199px){
      font-size: rem(18);
    }

    .text-invert & {
      color: $light;
    }
  }

}
