@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.list-numeric {
  counter-reset: list-numeric__item;

  @media screen and (max-width: 767px){
    margin-top: rem(-40);
  }

  &__btn {
    margin-top: rem(97);

    @media screen and (min-width: 1200px) and (max-width: 1440px){
      margin-top: rem(60);
    }

    @media screen and (max-width: 1199px){
      margin-top: rem(40);
    }
  }

  &__item {
    position: relative;
    font-family: $font-gilroy-500;
    font-weight: 500;
    font-size: rem(36);
    line-height: 1;
    color: $secondary;
    padding-left: rem(102);

    @media screen and (max-width: 1199px){
      font-size: rem(24);
      padding-left: rem(50);
    }

    &:first-child {
      @media screen and (max-width: 767px){
        margin-top: rem(40);
      }
    }

    & + & {
      margin-top: rem(97);

      @media screen and (min-width: 1200px) and (max-width: 1440px){
        margin-top: rem(60);
      }

      @media screen and (max-width: 1199px){
        margin-top: rem(40);
      }
    }

    &:last-child {
      @media screen and (max-width: 767px){
        margin-bottom: rem(40);
      }
    }

    .text-invert & {
      color: $light;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      content:counter(list-numeric__item);
      counter-increment:list-numeric__item;
      font-family: $font-gilroy-600;
      font-style: normal;
      font-weight: bold;
      font-size: rem(64);
      line-height: 1.2;
      color: $primary;

      @media screen and (max-width: 1199px){
        font-size: rem(40);
      }

    }

  }

}
