@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.nav {
  display: flex;
  font-size: 0;

  .menu-drop & {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: rem(0, 15);
  }

  &__link {
    position: relative;
    font-size: rem(14);
    font-weight: 500;
    font-family: $font-gilroy-500;
    line-height: 1;
    letter-spacing: rem(2);
    color: $secondary;
    text-transform: uppercase;
    transition: color .15s ease-in-out, font-weight .15s ease-in-out;

    @media screen and (min-width: 992px) and (max-width: 1199px) {
      font-size: rem(11);
    }

    .text-invert & {
      color: $light;
    }

    .sticky & {
      color: $secondary;
    }

    &.active {
      color: $primary;
      font-weight: bold;
      font-family: $font-gilroy-700;
    }

    .menu-drop & {
      display: block;
      width: 100%;
      color: $primary;
      padding: rem(10, 0);
    }

    & + &, & + .dropdown, .dropdown + & {
      margin-left: rem(50);

      @media screen and (min-width: 1200px) and (max-width: 1440px) {
        margin-left: rem(35);
      }

      @media screen and (min-width: 992px) and (max-width: 1199px) {
        margin-left: rem(25);
      }

      @media screen and (max-width: 991px) {
        margin-left: rem(20);
      }

      .menu-drop & {
        margin-left: 0;
      }
    }

    &:hover {
      color: rgba($primary, .85);
    }
  }
}

.menu-drop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 9999;
  background-color: $contrast;
  transform: translateY(-100%);
  transition: transform .5s ease-in-out;

  @media screen and (orientation: landscape) {
    padding: rem(40, 0);
  }

  @media screen and (orientation: portrait) {
    padding: rem(80, 0);
  }

  @media screen and (max-width: 991px){
    display: flex;
    flex-direction: column;
  }

  .is-menu-open & {
    transform: translateY(0);
  }
}
