@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.phones {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  padding: rem(48, 108);
  background-color: $light;

  .slick-dots {

    @media screen and (max-width: 767px){
      margin-top: rem(20);
    }

    li {
      button {
        border-color: $secondary;
      }
    }
  }
}

.phone {
  text-align: center;
  flex: 1;

  &__title {
    margin-bottom: rem(23);
    font-family: $font-gilroy-400;
    font-weight: 600;
    font-size: rem(24);
    line-height: 1.75;
    color: $secondary;

    @media screen and (max-width: 1199px){
      font-size: rem(18);
      line-height: 1;
    }
  }

  &__item {
    @media screen and (max-width: 767px){
      display: block;

      img {
        margin: auto;
      }
    }
  }

}
