@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.footer {
  background-color: $light;
  padding-top: rem(40);
  padding-bottom: rem(20);

  @media screen and (max-width: 991px){
    padding-top: rem(40);
    padding-bottom: rem(50);
  }

  @media screen and (max-width: 767px){
    padding-top: rem(20);
    padding-bottom: rem(30);
  }

  .nav {

    @media screen and (max-width: 991px){
      display: none;
    }

    &__link {
      color: $secondary !important;
    }
  }

  .logo {
    &__text {
      color: $secondary !important;
    }
  }
}
