@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.header {
  padding: rem(40, 0, 38);
  border-bottom: 2px solid rgba($contrast, .2);
  transition: background-color .15s ease-in-out, padding .15s ease-in-out;

  @media screen and (max-width: 1199px){
    padding-top: rem(30);
    padding-bottom: rem(30);
  }

  @media screen and (max-width: 767px){
    padding-top: rem(20);
    padding-bottom: rem(20);
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 1;
    transition: transform .3s ease-out .7s;
    background-color: $secondary;
    transform: translateY(-100%);
  }

  .inner-page &, .page-inner & {
    &::before {
      transform: translateY(0%);
      transition: transform .3s ease-out 0s;
    }
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    & + .main {
      padding-top: rem(105);

      @media screen and (max-width: 1199px){
        padding-top: rem(100);
      }
    }

    &.sticky {
      background-color: $light;
      padding-top: rem(30);
      padding-bottom: rem(30);

      @media screen and (max-width: 1199px){
        padding-top: rem(25);
        padding-bottom: rem(25);
      }

      @media screen and (max-width: 767px){
        padding-top: rem(20);
        padding-bottom: rem(20);
      }
    }
  }

  &__container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(0, 15);
    max-width: 1650px;
    margin: 0 auto;

    @media screen and(min-width: 1367px) and (max-width: 1650px){
      max-width: 1440px;
    }

    @media screen and (max-width: 1366px){
      max-width: 1200px;
    }
  }

  &__logo {

  }

  &__nav {
    margin-left: auto;

    @media screen and (max-width: 991px){
      display: none !important;
    }
  }

  &__auth {
    margin-left: rem(50);

    @media screen and (max-width: 1366px) {
      margin-left: rem(35);
    }

    @media screen and (max-width: 991px){
      display: none !important;
    }
  }
  
  &__btn {
    display: none;

    @media screen and (max-width: 991px){
      display: block;
    }
  }
}

.logo {
  display: inline-flex;
  align-items: center;

  &__text {
    margin-left: rem(14);
    color: $secondary;
    font-family: $font-gilroy-heavy;
    font-size: rem(18);
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: rem(3.6);

    .text-invert & {
      color: $light;
    }

    .sticky & {
      color: $secondary;
    }

    @media screen and (max-width: 767px){
      margin-left: rem(10);
    }
  }
}

.auth {
  display: flex;
  font-size: 0;

  .menu-drop & {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: rem(0, 15);
    margin-top: rem(40);
  }

  &__link {
    position: relative;
    font-size: rem(14);
    font-weight: 500;
    font-family: $font-gilroy-500;
    line-height: 1.14285;
    letter-spacing: rem(2);
    color: $secondary;
    text-transform: uppercase;
    transition: font-weight .15s ease-in-out;

    @media screen and (min-width: 992px) and (max-width: 1199px) {
      font-size: rem(11);
    }

    & + & {
      margin-left: rem(50);

      @media screen and (min-width: 992px) and (max-width: 1440px) {
        margin-left: rem(35);
      }

      @media screen and (max-width: 991px) {
        margin-left: rem(20);
      }

      .menu-drop & {
        margin-left: 0;
      }

    }

    .text-invert & {
      color: $light;
    }

    .sticky & {
      color: $secondary;
    }

    .menu-drop & {
      display: block;
      width: 100%;
      color: $primary;
      padding: rem(10, 0);
    }

    &:hover {
      color: rgba($primary, .85);
    }
  }
}


.dropdown {
  margin-top: rem(-5);
  margin-bottom: rem(-5);
  padding: rem(5, 10);
  position: relative;
  background-color: transparent;
  transition: background-color .15s ease-in-out;

  @media screen and (max-width: 767px){
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
  }

  &:hover, &.show {
    background-color: rgba(62, 70, 96, 0.8);

    .dropdown-toggle {
      color: $light;

      &:hover {
        color: $primary;
      }
    }

    .dropdown-menu {
      visibility: visible;
      opacity: 1;
      background-color: rgba(62, 70, 96, 0.8);
    }
  }
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  //min-width: 100%;
  z-index: 1;
  visibility: hidden;
  background-color: transparent;
  padding-bottom: rem(3);
  opacity: 0;
  transition: opacity .15s ease-in-out, visibility .15s ease-in-out, background-color .15s ease-in-out;

  @media screen and (max-width: 767px){
    position: initial;
  }
}

.dropdown-item {
  display: block;
  font-weight: 500;
  font-size: rem(12);
  line-height: 1.124185;
  letter-spacing: rem(2);
  color: $light;
  white-space: nowrap;
  padding: rem(5, 10, 4);
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color .15s ease-in-out;
  font-family: $font-gilroy-400;

  &:hover {
    color: $primary;
  }

  @media screen and (min-width: 992px) and (max-width: 1199px) {
    font-size: rem(11);
  }

  &.hidden {
    display: none;
  }
}
