@import "../../shared/variables";
@import "../../shared/mixin/px-to-rem";

.checkbox {
  display: inline-flex;
  padding-left: rem(30);
  position: relative;
  font-family: $font-gilroy-400;
  font-size: rem(11);
  font-weight: 500;
  line-height: 2.7272;
  color: $secondary;

  .text-invert & {
    color: $light;
  }

  .form-substrate & {
    color: $secondary;
  }

  & + & {
    margin-left: rem(15);
  }

  input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    height: 0;

    &:checked + label i {
      background-color: $light;

      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  i {
    position: absolute;
    top: rem(7);
    left: 0;
    display: block;
    width: rem(18);
    height: rem(18);
    border: 2px solid $light;
    transition: box-shadow .15s ease-in-out, background-color .15s ease-in-out;

    .form-substrate &, .sec-inner-form & {
      border-color: $contrast;
      background-color: $contrast;
    }

    &:after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      background-image: url('../../../img/general/checked.svg');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: rem(14) rem(14);
      width: rem(18);
      height: rem(18);
      opacity: 0;
      visibility: hidden;
      transition:
              visibility .15s ease-in-out,
              opacity .15s ease-in-out;
    }

    &:hover {
      box-shadow: 0 0 2px $secondary;
    }
  }

  .link {
    color: $light;
    text-decoration: underline;
    font-size: inherit;
    text-transform: initial;

    .form-substrate &, .sec-inner-form & {
      color: $secondary;
    }
  }
}
.social {
  &__link {
    svg {
      path {
        transition: fill .15s ease-in-out;
      }
    }

    &:hover {
      svg {
        path {
          fill: $primary
        }
      }
    }
  }
}
