@import "../../shared/variables";
@import "../../shared/mixin/px-to-rem";

.form-substrate {
	max-width: 600px;
	padding: 35px 85px 36px;
	background-color: $light;

	@media screen and (max-width: 1199px) {
		padding: rem(44, 40, 36);
	}

	@media screen and (max-width: 767px) {
		padding: rem(40, 20, 36);
	}
}

.form {
	max-width: 450px;
	width: 100%;
	margin: auto;

	.page-inner & {
		padding: 0 rem(15);
	}

	&__caption {
		margin-bottom: rem(50);
		text-align: center;

		@media screen and (max-width: 767px){
			margin-bottom: rem(20);
		}
	}
	
	&__groups {

		& + & {
			margin-top: rem(80);

			@media screen and (max-width: 767px){
				margin-top: rem(40);
			}
		}

		.content {
			&__subtitle {
				text-align: center;
				margin-bottom: rem(10);
			}
		}

		& + .form__check {
			margin-top: rem(20);
			text-align: center;

			@media screen and (max-width: 1440px) {
				margin-top: rem(10);
			}
		}
	}

	&__group {
		display: block;

		& + & {
			margin-top: rem(20);

			@media screen and (max-width: 1440px) {
				margin-top: rem(10);
			}
		}

		& + .form__check {
			margin-top: rem(15);

			@media screen and (max-width: 1440px) {
				margin-top: rem(10);
			}
		}
	}

	&__check {
		display: block;

		& + & {
			margin-top: rem(15);

			@media screen and (max-width: 1440px) {
				margin-top: rem(10);
			}
		}

		& + .form__group {
			margin-top: rem(15);

			@media screen and (max-width: 1440px) {
				margin-top: rem(10);
			}
		}
	}

	&__title {
		margin-bottom: rem(20);
		font-family: $font-gilroy-600;
		font-size: rem(18);
		font-weight: 600;
		line-height: 1;
		color: $secondary;

		.text-invert & {
			color: $light;
		}

		.form-substrate & {
			color: $secondary;
		}
	}

	&__label {
		font-family: $font-gilroy-400;
		font-size: rem(14);
		font-weight: 500;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: rem(2);
		color: $secondary;

		@media screen and (max-width: 1366px){
			font-size: rem(11);
		}

		.text-invert & {
			color: $light;
		}

		.form-substrate & {
			color: $secondary;
		}
	}
	
	&__control {
		display: block;
		width: 100%;
		height: rem(45);
		background-color: $contrast;
		border: 1px solid transparent;
		padding: 0 rem(20);
		font-family: $font-gilroy-600;
		font-size: rem(18);
		line-height: 1;
		font-weight: 400;
		
		@media screen and (max-width: 1366px){
			font-size: rem(16);
			height: rem(40);
		}
		
		@at-root {
			textarea#{&} {
				height: rem(90);
				padding: rem(15, 20);
				resize: none;
			}
		}
		
		&.invalid {
			border-color: $danger;
		}
		
		&.valid {
			border-color: $success;
		}

		&:focus {
			&::placeholder {
				opacity: 0;
			}
		}
	}
	
	&__btn {
		margin-top: rem(30);
		
		@media screen and (max-width: 485px){
			margin: rem(20) auto 0;
			display: block;
		}
	}

	&__ask {
		margin-top: rem(21);
	}
}

.ask {
	&__text {
		font-family: $font-gilroy-500;
		font-weight: 500;
		font-size: rem(14);
		line-height: 214%;
		letter-spacing: 3px;
		color: $secondary;

		.text-invert & {
			color: $light;
		}

		.form-substrate & {
			color: $secondary;
		}

		a {
			text-transform: inherit;
		}
	}
}
