@import "../../shared/variables";
@import "../../shared/mixin/px-to-rem";

// vars
$animation: 0.6s;	// animation speed
$scale: 1;			  // icon scale 68/68 default

.hamburger {
	transform: scale($scale);
	position: relative;
	display: none;
	width: rem(68);
	height: rem(68);
	-webkit-touch-callout: none;
	user-select: none;
	cursor: pointer;
	z-index: 9999;
	
	@media screen and (max-width: 485px){
		display: block;
	}
}

// transition mask
.path-burger {
	position: absolute;
	top: 0;
	left: 0;
	height: rem(68);
	width: rem(68);
	// two masks because... browser support.
	mask: url(#mask);
	-webkit-mask-box-image: url(https://raygun.io/upload/mask.svg);
}

.animate-path {
	position: absolute;
	top: 0;
	left: 0;
	width: rem(68);
	height: rem(68);
}

// what this does is create a small square that I then rotate behind an svg mask, giving the apparence of the line animating
.path-rotation {
	height: rem(34);
	width: rem(34);
	margin: rem(34, 34, 0, 0);
	transform: rotate(0deg);
	transform-origin: 100% 0;
	
	&:before {
		content: '';
		display: block;
		width: rem(30);
		height: rem(34);
		margin: rem(0, 4, 0, 0);
		background-color: $contrast;
		transition: background-color .5s ease-in-out;
		
		.is-menu-open & {
			background-color: $light;
		}
	}
}

// box rotation animation
@keyframes rotate-out {
	0% {
		transform: rotate(0deg);
	}
	40% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes rotate-in {
	0% {
		transform: rotate(360deg);
	}
	40% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

// offset moves
// dasharray is the dash size
// need to be able to control dash space size.

.hamburger.is-open {
	.path {
		animation: dash-in $animation linear normal;
		animation-fill-mode:forwards;
	}
	.animate-path {
		animation: rotate-in $animation linear normal;
		animation-fill-mode:forwards;
	}
}

.hamburger.is-closed {
	.path {
		animation: dash-out $animation linear normal;
		animation-fill-mode:forwards;
	}
	.animate-path {
		animation: rotate-out $animation linear normal;
		animation-fill-mode:forwards;
	}
}

.path {
	stroke-dasharray: 240;
	stroke-dashoffset: 240;
	stroke-linejoin: round;
}

@keyframes dash-in {
	0% {
		stroke-dashoffset: 240;
	}
	40% {
		stroke-dashoffset: 240;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes dash-out {
	0% {
		stroke-dashoffset: 0;
	}
	40% {
		stroke-dashoffset: 240;
	}
	100% {
		stroke-dashoffset: 240;
	}
}

// All good burgers need filling!

.burger-icon {
	position: absolute;
	padding: rem(20, 16);
	height: rem(68);
	width: rem(68);
}

.burger-container {
	position: relative;
	height: rem(28);
	width: rem(36);
}

.burger-bun-top,
.burger-bun-bot,
.burger-filling {
	position: absolute;
	display: block;
	height: rem(4);
	width: rem(36);
	border-radius: rem(2);
	background-color: $contrast;
	transition: background-color .5s ease-in-out;
	
	.is-menu-open & {
		background-color: $light;
	}
}

.burger-bun-top {
	top: 0;
	transform-origin: rem(34, 2);
}

.burger-bun-bot {
	bottom: 0;
	transform-origin: rem(34, 2);
}
//.burger-filling {
//  @include transition(all,($animation/2.5),ease-in-//out);
//}
// relative parent is the button
.burger-filling {
	top: rem(12);
}

// burger ring container
.burger-ring {
	position: absolute;
	top: 0;
	left: 0;
	width: rem(68);
	height: rem(68);
}

.svg-ring {
//	width: rem(68);
//	height: rem(68);
	stroke: $contrast;
	transition: stroke .5s ease-in-out;
	
	.is-menu-open & {
		stroke: $primary;
	}
}

// bun animations
.hamburger.is-open {
	.burger-bun-top {
		animation: bun-top-out $animation linear normal;
		animation-fill-mode:forwards;
	}
	.burger-bun-bot {
		animation: bun-bot-out $animation linear normal;
		animation-fill-mode:forwards;
	}
}
.hamburger.is-closed {
	.burger-bun-top {
		animation: bun-top-in $animation linear normal;
		animation-fill-mode:forwards;
	}
	.burger-bun-bot {
		animation: bun-bot-in $animation linear normal;
		animation-fill-mode:forwards;
	}
}

@keyframes bun-top-out {
	0% {
		left: 0;
		top: 0;
		transform: rotate(0deg);
	}
	20% {
		left: 0;
		top: 0;
		transform: rotate(15deg);
	}
	80% {
		left: rem(-5);
		top: 0;
		transform: rotate(-60deg);
	}
	100% {
		left: rem(-5);
		top: rem(1);
		transform: rotate(-45deg);
	}
}
@keyframes bun-bot-out {
	0% {
		left: 0;
		transform: rotate(0deg);
	}
	20% {
		left: 0;
		transform: rotate(-15deg);
	}
	80% {
		left: rem(-5);
		transform: rotate(60deg);
	}
	100% {
		left: rem(-5);
		transform: rotate(45deg);
	}
}
@keyframes bun-top-in {
	0% {
		left: rem(-5);
		bot: 0;
		transform: rotate(-45deg);
	}
	20% {
		left: rem(-5);
		bot: 0;
		transform: rotate(-60deg);
	}
	80% {
		left: 0;
		bottom: 0;
		transform: rotate(15deg);
	}
	100% {
		left: 0;
		bottom: rem(1);
		transform: rotate(0deg);
	}
}
@keyframes bun-bot-in {
	0% {
		left: rem(-5);
		transform: rotate(45deg);
	}
	20% {
		left: rem(-5);
		bottom: 0;
		transform: rotate(60deg);
	}
	80% {
		left: 0;
		bottom: 0;
		transform: rotate(-15deg);
	}
	100% {
		left: 0;
		transform: rotate(0deg);
	}
}

// burger filling
.hamburger.is-open {
	.burger-filling {
		animation: burger-fill-out $animation linear normal;
		animation-fill-mode:forwards;
	}
}
.hamburger.is-closed {
	.burger-filling {
		animation: burger-fill-in $animation linear normal;
		animation-fill-mode:forwards;
	}
}

@keyframes burger-fill-in {
	0% {
		width: 0;
		left: rem(36);
	}
	40% {
		width: 0;
		left: rem(40);
	}
	80% {
		width: rem(36);
		left: rem(-6);
	}
	100% {
		width: rem(36);
		left: 0;
	}
}
@keyframes burger-fill-out {
	0% {
		width: rem(36);
		left: 0;
	}
	20% {
		width: rem(42);
		left: rem(-6);
	}
	
	40% {
		width: 0;
		left: rem(40);
	}
	
	100% {
		width: 0;
		left: rem(36);
	}
}
