@import "../../shared/variables";
@import "../../shared/mixin/px-to-rem";

.search {
  position: relative;
  font-size: 0;

  &__input {
    display: block;
    width: 100%;
    background: $light;
    border-radius: rem(2);
    height: rem(50);
    padding-left: rem(56);
    padding-right: rem(15);
    font-size: rem(22);
    line-height: 1;
    font-family: $font-gilroy-500;
    font-weight: 500;
    letter-spacing: 0.03em;
    border: 1px solid transparent;

    &::placeholder {
      font-size: rem(18);
      color: #9195A2;
    }

    &.valid {
      border-color: $success;
    }

    &.invalid {
      border-color: $danger;
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: rem(7);
    z-index: 1;
    margin-top: rem(2);
    cursor: pointer;

    svg {
      transition: fill .15s ease-in-out;
    }

    &:hover {
      svg {
        fill: $primary;
      }
    }
  }
}
