<footer class="footer">

    <div class="container">

        <div class="row flex-column flex-lg-row">

            <div class="col-auto text-center text-lg-left">

                <a href="/" class="footer__logo logo wowHeader slideInDownFadeIn" data-wow-delay="0s">
                    <img src="img/general/logo.png" alt="logo">
                    <span class="logo__text">vyadd</span>
                </a>
                <!-- /.logo -->

            </div>
            <!-- /.col-auto -->

            <div class="col d-flex flex-column align-items-center justify-content-center">

                <nav class="footer__nav nav">
                    <a href="" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".1s">ABOUT</a>
                    <a href="" class="nav__link active wowHeader slideInDownFadeIn" data-wow-delay=".2s">PERFORMANCE</a>
                    <a href="" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".3s">PROGRAMMATIC</a>
                    <a href="" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".4s">TECHNOLOGIES</a>
                    <a href="" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".5s">PUSH SKYWARD</a>
                    <a href="" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".6s">CONTACT US</a>
                </nav>
                <!-- /.nav -->

                <p class="copyright mt-3">Vyadd s.r.o © 2020</p>

            </div>
            <!-- /.col -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.footer__container -->

</footer>
<!-- /.footer -->
