<header class="header header--fixed">

    <div class="header__container">
        <a href="/" class="header__logo logo wowHeader slideInDownFadeIn" data-wow-delay="0s">
            <img src="img/general/logo.png" alt="logo">
            <span class="logo__text">vyadd</span>
        </a>
        <!-- /.logo -->

        <nav class="header__nav nav">
            <a href="" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".1s">ABOUT</a>


            <div class="dropdown" data-toggle="dropdown">

                <a class="nav__link dropdown-toggle" href="#">PERFORMANCE</a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item hidden" href="#">PERFORMANCE</a></li>
                    <li><a class="dropdown-item" href="#">FOR ADVERTISERS</a></li>
                    <li><a class="dropdown-item" href="#">FOR PUBLISHERS</a></li>
                </ul>

            </div>
            <!-- /.dropdown -->


<!--            <a href="" class="nav__link active wowHeader slideInDownFadeIn" data-wow-delay=".2s">PERFORMANCE</a>-->
            <a href="" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".3s">PROGRAMMATIC</a>
            <a href="" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".4s">TECHNOLOGIES</a>
            <a href="" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".5s">PUSH SKYWARD</a>
            <a href="" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".6s">CONTACT US</a>
        </nav>
        <!-- /.nav -->

        <div class="header__auth auth">
            <a href="" class="auth__link wowHeader slideInDownFadeIn" data-wow-delay=".7s">sign up</a>
        </div>
        <!-- /.auth -->

        <div class="header__btn">
            <button class="btn-menu" id="btnMenu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <!-- /.header__btn -->

    </div>
    <!-- /.header__container -->

</header>
<!-- /.header -->
