<div class="menu-drop">
    <button type="button" class="btn-menu-close" id="btnMenuClose">
        <svg width="20" height="20">
            <use xlink:href="#close"></use>
        </svg>
    </button>
    <nav class="nav">
        <a href="#" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".1s">ABOUT</a>
        <div class="dropdown" data-toggle="dropdown">

            <a class="nav__link dropdown-toggle" href="#">PERFORMANCE</a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item hidden" href="#">PERFORMANCE</a></li>
                <li><a class="dropdown-item" href="#">FOR ADVERTISERS</a></li>
                <li><a class="dropdown-item" href="#">FOR PUBLISHERS</a></li>
            </ul>

        </div>
        <!-- /.dropdown -->
<!--        <a href="#" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".2s">PERFORMANCE</a>-->
        <a href="#" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".3s">PROGRAMMATIC</a>
        <a href="#" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".4s">TECHNOLOGIES</a>
        <a href="#" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".5s">PUSH SKYWARD</a>
        <a href="#" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".6s">CONTACT US</a>
    </nav>
    <!-- /.nav -->

    <div class="auth">
        <a href="" class="auth__link wowHeader slideInDownFadeIn" data-wow-delay=".7s">sign up</a>
    </div>
    <!-- /.auth -->
</div>
<!-- /.menu-drop -->
