@import "shared/variables";
@import "shared/mixin/px-to-rem";

body {
  font-size: rem(15);
  font-family: $font-gilroy-400;
  line-height: 2.3333;
  color: $secondary;
}

figure {
  margin: 0;
}

br {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.border-bottom-none {
  border-bottom: none !important;
}

.text-primary {
  color: $primary !important;
}

.bg-light {
  background-color: $light;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-secondary-light {
  background-color: $third;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main {
    flex-grow: 1;
  }

}

.main {
  position: relative;

  &--bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 0;
  }

  &--bordered {
    border-top: 2px solid #73798C;
    border-bottom: 2px solid #73798C;
  }
}

.container {
  max-width: 1650px;
  margin: auto;

  @media screen and(min-width: 1367px) and (max-width: 1650px){
    max-width: 1440px;
  }

  @media screen and (max-width: 1366px){
    max-width: 1200px;
  }
}

.wrap-pad {
  padding: rem(61, 0);

  @media screen and (min-width: 1200px) and (max-width: 1440px){
    padding: rem(45, 0);
  }

  @media screen and (max-width: 1199px){
    padding: rem(35, 0);
  }

  &--xl {
    padding: rem(90, 0);

    @media screen and (min-width: 1200px) and (max-width: 1440px){
      padding: rem(58, 0);
    }

    @media screen and (max-width: 1199px){
      padding: rem(40, 0);
    }
  }
}

.in-float {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &--right {
    left: auto;
  }
}

.bg-grid {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  &--right {
    left: auto;
    right: 0;
  }

  &--half {
    width: calc(50% - 50px);
  }

  & + .container-fluid, & + .container {
    position: relative;
    z-index: 2;
  }

}

.title {
  padding-left: 5vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-family: $font-gilroy-600;
  font-weight: bold;
  font-size: rem(96);
  line-height: 1.208;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #EDEFF2;

  @media screen and (min-width: 1200px) and (max-width: 1440px){
    font-size: rem(76);
  }

  @media screen and (max-width: 1199px){
    font-size: rem(56);
  }

  @media screen and (max-width: 767px) {
    font-size: rem(40);
  }

  .main-page & {
    margin-top: -10vh;
  }
}

.caption {
  margin-bottom: rem(30);
  font-family: $font-gilroy-600;
  font-weight: bold;
  font-size: rem(64);
  line-height: 1.2;
  color: $secondary;

  .text-invert & {
    color: $light;
  }

  @media screen and (min-width: 1200px) and (max-width: 1440px){
    margin-bottom: rem(20);
    font-size: rem(54);
  }

  @media screen and (max-width: 1199px){
    font-size: rem(40);
  }
}

.sub-caption {
  font-family: $font-gilroy-600;
  font-weight: bold;
  font-size: rem(36);
  line-height: 1.667;
  color: $secondary;

  .text-invert & {
    color: $light;
  }

  @media screen and (min-width: 1200px) and (max-width: 1440px){
    font-size: rem(24);
  }

  @media screen and (max-width: 1199px){
    font-size: rem(18);
  }
}

.text {
  font-family: $font-gilroy-500;
  font-weight: 500;
  font-size: rem(24);
  line-height: 1.25;
  color: $secondary;

  .text-invert & {
    color: $light;
  }

  & + & {
    margin-top: rem(20);
  }

  @media screen and (min-width: 1200px) and (max-width: 1440px){
    font-size: rem(18);
  }

  @media screen and (max-width: 1199px){
    font-size: rem(16);
  }

}

.r-link {
  display: inline-block;
  margin-top: rem(20);
  font-family: $font-gilroy-500;
  font-weight: 500;
  font-size: rem(24);
  line-height: 1.25;
  color: $primary;

  &:hover {
    color: rgba($primary, .85);
  }
}

.sec-real-time {
  position: relative;
  text-align: center;
  padding-top: rem(88);

  @media screen and (min-width: 1200px) and (max-width: 1440px){
    padding-top: rem(60);
  }

  @media screen and (max-width: 1199px){
    padding-top: rem(40);
  }

  .container {
    max-width: 1032px;
  }

  .sub-caption {
    margin-bottom: rem(50);

    @media screen and (min-width: 1200px) and (max-width: 1440px){
      margin-bottom: rem(35);
    }

    @media screen and (max-width: 1199px){
      margin-bottom: rem(20);
    }
  }

  .text {
    margin-bottom: rem(90);

    @media screen and (min-width: 1200px) and (max-width: 1440px){
      margin-bottom: rem(60);
    }

    @media screen and (max-width: 1199px){
      margin-bottom: rem(40);
    }
  }

  .phones {
    margin-bottom: rem(-206);
  }
}

.sec-DPS {
  padding-top: rem(206);
  padding-bottom: rem(90);
  background-repeat: repeat;
  background-position: 50% 0;
  background-size: cover;

  @media screen and (max-width: 767px){
    padding-bottom: rem(40);
  }

  .caption {
    margin-top: rem(99);
    margin-bottom: 0;

    @media screen and (max-width: 767px){
      margin-top: rem(40);
    }
  }

  .sub-caption {
    margin-bottom: 0;
  }

  .list-items {
    margin-top: rem(100);

    @media screen and (max-width: 1199px){
      margin-top: rem(60);
    }

    @media screen and (max-width: 767px){
      margin-top: rem(40);
    }
  }

  .list-item {

    &__content {
      max-width: 473px;
    }

  }

}

.sec-trusted {
  padding-top: rem(100);
  padding-bottom: rem(40);

  @media screen and (max-width: 767px){
    padding-top: rem(40);
  }

  .container {
    max-width: 1390px;
  }

  .caption {
    margin-bottom: rem(16);
  }

  .text {

    & + .text {
      margin-top: rem(10);
    }

  }

  .caption, .text {
    color: $secondary!important;
  }
}

.trusted-company {
  margin-top: rem(50);
}

.sec-connected {
  padding-top: rem(40);
  padding-bottom: rem(107);

  .container {
    max-width: 1390px;
  }

}
.slider-company {
  font-size: 0;

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (max-width: 1600px){
      top: 100%;
      transform: none;
      height: rem(60);
    }
  }

  .slick-next {
    left: calc(100% + 40px);

    @media screen and (max-width: 1600px){
      left: calc(50% + 5rem);
    }
  }

  .slick-prev {
    right: calc(100% + 40px);

    @media screen and (max-width: 1600px){
      right: calc(50% + 5rem);
    }
  }
}
.sec-form {
  padding-top: rem(69);
  padding-bottom: rem(69);
  background-repeat: repeat;
  background-position: 50% 0;
  background-size: cover;
}
.sec-advantage {
  position: relative;
  padding-top: rem(90);

  @media screen and (max-width: 767px){
    padding-top: rem(40);
  }

  .caption {
    color: $secondary;
    //margin-bottom: 0;
  }

  .alert {
    position: relative;
    top: rem(100);

    @media screen and (min-width: 1200px) and (max-width: 1440px){
      top: rem(88);
    }

    @media screen and (max-width: 1199px){
      top: rem(85);
    }
  }
}
.sec-list {
  padding-top: rem(203);
  padding-bottom: rem(111);
  background-repeat: repeat;
  background-position: 50% 0;
  background-size: cover;

  @media screen and (max-width: 1199px) {
    padding-top: rem(150);
    padding-bottom: rem(80);
  }

  @media screen and (max-width: 767px) {
    padding-top: rem(150);
    padding-bottom: rem(40);
  }

  .container {
    @media screen and (max-width: 767px) {
      display: flex;
      justify-content: center;
      max-width: 400px;
      margin: auto;
    }
  }
}

.grid {

  &-row {
    display: flex;
  }

  &-col {
    padding: rem(90) rem(30) rem(100) rem(15);
    max-width: calc(1600px / 2);
    width: 100%;

    @media screen and (min-width: 1200px) and (max-width: 1440px){
      padding-top: rem(36);
      padding-bottom: rem(40);
    }

    @media screen and (max-width: 1199px) {
      padding: rem(30) rem(15) rem(40) rem(15);
    }

    .text {
      max-width: 650px;
    }
  }

}

.bg-cover {
  background-repeat: repeat;
  background-position: 50% 0;
  background-size: cover;
}
.media {
  display: flex;
  align-items: flex-start;

  &__body {
    flex: 1;
    margin-left: rem(38);
  }
}

.slider-how-it-work {

  .media {
    max-width: 640px;

    @media screen and (max-width: 480px){
      flex-direction: column;
      align-items: center;
    }

    &__body {
      @media screen and (max-width: 1199px){
        margin-left: rem(15);
      }
      @media screen and (max-width: 480px){
        margin-top: rem(20);
        margin-left: 0;
        text-align: center;
      }
    }

    & > svg {
      @media screen and (max-width: 1199px){
        width: 20%;
        height: auto;
      }
    }

    .sub-caption {
      margin-bottom: rem(10);
      line-height: 1;
    }

    .sub-caption, .text {
      .text-invert & {
        color: $contrast;
      }
    }

  }

  .slick-dots {
    margin-top: rem(25);
  }
}

.slick-dots {
  display: flex;
  justify-content: center;

  li {
    font-size: 0;

    & + li {
      margin-left: rem(15);
    }

    button {
      width: rem(15);
      height: rem(15);
      border-radius: 50%;
      border: 2px solid $light;
      transition: background-color .15s ease-in-out;
    }

    &.slick-active {
      button {
        background-color: $primary;
      }
    }
  }
}

.sec-inner-form {
  padding-top: rem(50);
  padding-bottom: rem(90);
}
.decor-block {
  position: absolute;
  top: 0;
  left: -5vw;
  right: rem(15);
  bottom: 0;
  z-index: 1;
  background-color: $contrast;
  font-family: $font-gilroy-500;
  font-weight: 500;
  font-size: rem(24);
  line-height: 125%;
  color: $secondary;
  padding: rem(20);

  @media screen and (min-width: 1367px) and (max-width: 1650px) {
    font-size: rem(20);
  }

  @media screen and (min-width: 1200px) and (max-width: 1366px) {
    font-size: rem(17);
  }

  @media screen and (max-width: 1199px) {
    font-size: rem(14);
    padding: rem(10, 20);
  }

  @media screen and (max-width: 991px) {
    left: rem(15);

    &::before {
      display: block;
      content: '';
      padding-top: 60%;

      @media screen and (max-width: 767px) {
        padding-top: 100%;
      }
    }
  }

  @media screen and (max-width: 767px) {
    position: initial;
    padding: rem(15);
  }

  &::after {
    position: absolute;
    content: '';
    top: auto;
    bottom: 0;
    right: calc(100% - 1px);
    pointer-events: none;
    border: 1.25vw solid $contrast;
    z-index: 1;
    border-top-color: transparent;
    border-left-color: transparent;

    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;

    @media screen and (max-width: 991px) {
      position: absolute;
      top: rem(15);
      bottom: rem(15);
      left: rem(15);
      right: rem(15);
      z-index: 1;
      height: auto;
    }
    @media screen and (max-width: 767px) {
      margin: rem(15);
    }
  }

}
.toggle-block {
  position: relative;
  border: 2px solid $primary;
  overflow: hidden;

  &:hover {
    .toggle-block__outside {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &__inner {
    background-color: $secondary;

    &::before {
      display: block;
      content: '';
      padding-top: 100%;
    }
  }

  &__title {
    padding: rem(10);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: $font-gilroy-600;
    font-weight: 600;
    //font-size: rem(24);
    font-size: rem(36);
    line-height: 175%;
    color: $light;

    @media screen and (min-width: 1200px) and (max-width: 1650px) {
      //font-size: rem(20);
      font-size: rem(24);
    }

    @media screen and (max-width: 1199px) {
      font-size: rem(18);
    }
  }

  &__outside {
    padding: rem(10);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15%);
    font-family: $font-gilroy-500;
    font-weight: 500;
    font-size: rem(12);
    line-height: 167%;
    color: $light;
    background-color: $secondary;
    overflow-x: hidden;
    overflow-y: auto;
    transition: opacity .15s ease-in-out,
    visibility .15s ease-in-out,
    transform .15s ease-in-out;
  }
}
.sec-technology {
  padding-top: rem(100);
  padding-bottom: rem(84);

  @media screen and (min-width: 1200px) and (max-width: 1440px){
    padding-top: rem(90);
    padding-bottom: rem(90);
  }

  @media screen and (max-width: 1199px) {
    padding-top: rem(40);
    padding-bottom: rem(40);
  }

  .bg-cover {
    background-clip: content-box;

    @media screen and (max-width: 991px){

      &::before {
        display: block;
        content: '';
        padding-top: 60%;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 991px){
      margin-bottom: rem(30) !important;
    }

  }
}
.sec-about {
  @media screen and (max-width: 991px){
    .bg-grid {
      display: block;
      position: initial;
      width: auto;

      &::before {
        display: block;
        content: '';
        padding-top: 50%;
      }
    }
  }
}
.sec-perform {

  .bg-grid {
    @media screen and (max-width: 767px){
      display: none;
    }
  }

}
.sec-contact {
  display: flex;
  padding-top: rem(60);
  padding-bottom: rem(60);

  @media screen and (max-width: 991px) {
    padding-top: rem(40);
    padding-bottom: rem(40);
  }

  @media screen and (max-width: 767px) {
    padding-top: rem(20);
    padding-bottom: rem(40);
  }

  .form-substrate {
    @media screen and (max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .text + .sub-caption {
    margin-top: rem(50);

    @media screen and (max-width: 1199px){
      margin-top: rem(40);
    }

    @media screen and (max-width: 767px){
      margin-top: rem(20);
    }
  }
}
.copyright {
  line-height: 1;
}
.sec-header {
  padding-top: rem(60);
  padding-bottom: rem(88);
  background-color: $secondary;

  @media screen and (min-width: 1200px) and (max-width: 1440px){
    padding-top: rem(40);
    padding-bottom: rem(60);
  }

  @media screen and (max-width: 1199px) {
    padding-top: rem(20);
    padding-bottom: rem(30);
  }

  .logo {
    &__text {
      color: $light;
    }
  }

  .row + .row {
    margin-top: rem(71);

    @media screen and (min-width: 1200px) and (max-width: 1440px){
      margin-top: rem(51);
    }

    @media screen and (max-width: 1199px) {
      margin-top: rem(21);
    }
  }
}
.sec-policy {
  background-color: $light;
  padding: rem(88) rem(15) rem(150);

  @media screen and (min-width: 1200px) and (max-width: 1440px){
    padding-top: rem(68);
    padding-bottom: rem(100);
  }

  @media screen and (max-width: 1199px) {
    padding-top: rem(38);
    padding-bottom: rem(50);
  }

  .container {
    background-color: $contrast;
    padding: rem(100);

    @media screen and (min-width: 1200px) and (max-width: 1440px){
      padding: rem(50);
    }

    @media screen and (max-width: 1199px) {
      padding: rem(15);
    }
  }
}
.policy {

  &__caption {
    margin-bottom: rem(40);
    font-family: $font-gilroy-500;
    font-weight: 500;
    font-size: rem(48);
    line-height: 1.16666667;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px) and (max-width: 1440px){
      font-size: rem(36);
      margin-bottom: rem(30);
    }

    @media screen and (max-width: 1199px) {
      font-size: rem(24);
      margin-bottom: rem(20);
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    font-size: 0;
    transition: filter .15s ease-in-out;
    margin-top: rem(40);
    margin-bottom: rem(40);

    &:hover {
      filter: brightness(80%);
    }

    @media screen and (min-width: 1200px) and (max-width: 1440px){
      margin-top: rem(30);
      margin-bottom: rem(15);
    }

    @media screen and (max-width: 1199px) {
      margin-top: rem(20);
      margin-bottom: rem(10);
    }

    & + & {
      margin-top: rem(20);

      @media screen and (min-width: 1200px) and (max-width: 1440px){
        margin-top: rem(15);
      }

      @media screen and (max-width: 1199px) {
        margin-top: rem(10);
      }
    }

    img {
      width: 100%;
    }
  }

  &__note {
    margin-top: rem(80);

    @media screen and (min-width: 1200px) and (max-width: 1440px){
      margin-top: rem(60);
    }

    @media screen and (max-width: 1199px) {
      margin-top: rem(40);
    }
  }
}
.policy-list {
  font-family: $font-gilroy-500;
  font-weight: 500;
  font-size: rem(36);
  line-height: 1.16666667;
  letter-spacing: 0.03em;
  color: $secondary;

  @media screen and (min-width: 1200px) and (max-width: 1440px){
    font-size: rem(24);
  }

  @media screen and (max-width: 1199px) {
    font-size: rem(18);
  }

  &__row {
    & + & {
      margin-top: rem(40);

      @media screen and (min-width: 1200px) and (max-width: 1440px){
        margin-top: rem(30);
      }

      @media screen and (max-width: 1199px) {
        margin-top: rem(20);
      }
    }
  }
}
.note {
  font-family: $font-gilroy-500;
  font-weight: 500;
  font-size: rem(28);
  line-height: 1.1785;
  letter-spacing: 0.03em;
  color: $secondary;

  @media screen and (min-width: 1200px) and (max-width: 1440px){
    font-size: rem(22);
  }

  @media screen and (max-width: 1199px) {
    font-size: rem(16);
  }
}
.href {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  font-family: $font-gilroy-500;
  font-weight: 500;
  font-size: rem(21);
  line-height: 1;
  //line-height: 25px;
  letter-spacing: 0.03em;
  color: $light;

  @media screen and (min-width: 1200px) and (max-width: 1440px){
    font-size: rem(18);
  }

  @media screen and (max-width: 1199px) {
    font-size: rem(14);
  }

  svg {
    margin-right: rem(8);
  }
}
