<svg width="0" height="0" style="position:absolute;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<symbol id="star" viewBox="0 0 19.481 19.481">
		<path d="m10.201,.758l2.478,5.865 6.344,.545c0.44,0.038 0.619,0.587 0.285,0.876l-4.812,4.169 1.442,6.202c0.1,0.431-0.367,0.77-0.745,0.541l-5.452-3.288-5.452,3.288c-0.379,0.228-0.845-0.111-0.745-0.541l1.442-6.202-4.813-4.17c-0.334-0.289-0.156-0.838 0.285-0.876l6.344-.545 2.478-5.864c0.172-0.408 0.749-0.408 0.921,0z"/>
	</symbol>
	<symbol id="sort-down" viewBox="0 0 292.362 292.362" xml:space="preserve">
		<path d="M286.935,69.377c-3.614-3.617-7.898-5.424-12.848-5.424H18.274c-4.952,0-9.233,1.807-12.85,5.424
			C1.807,72.998,0,77.279,0,82.228c0,4.948,1.807,9.229,5.424,12.847l127.907,127.907c3.621,3.617,7.902,5.428,12.85,5.428
			s9.233-1.811,12.847-5.428L286.935,95.074c3.613-3.617,5.427-7.898,5.427-12.847C292.362,77.279,290.548,72.998,286.935,69.377z"/>
	</symbol>
	<symbol id="check-mark" viewBox="0 0 352.62 352.62" xml:space="preserve">
		<path d="M337.222,22.952c-15.912-8.568-33.66,7.956-44.064,17.748c-23.867,23.256-44.063,50.184-66.708,74.664
			c-25.092,26.928-48.348,53.856-74.052,80.173c-14.688,14.688-30.6,30.6-40.392,48.96c-22.032-21.421-41.004-44.677-65.484-63.648
			c-17.748-13.464-47.124-23.256-46.512,9.18c1.224,42.229,38.556,87.517,66.096,116.28c11.628,12.24,26.928,25.092,44.676,25.704
			c21.42,1.224,43.452-24.48,56.304-38.556c22.645-24.48,41.005-52.021,61.812-77.112c26.928-33.048,54.468-65.485,80.784-99.145
			C326.206,96.392,378.226,44.983,337.222,22.952z M26.937,187.581c-0.612,0-1.224,0-2.448,0.611
			c-2.448-0.611-4.284-1.224-6.732-2.448l0,0C19.593,184.52,22.653,185.132,26.937,187.581z"/>
	</symbol>
	<symbol id="arrow-up" viewBox="0 0 30.728 30.729" xml:space="preserve">
		<path d="M29.996,24.08c-0.977,0.978-2.561,0.978-3.535,0L15.365,12.985L4.268,24.081C3.78,24.568,3.14,24.812,2.5,24.812
			s-1.28-0.244-1.768-0.731c-0.977-0.978-0.977-2.56,0-3.535L15.364,5.915l14.63,14.629C30.972,21.521,30.972,23.104,29.996,24.08z"
		/>
	</symbol>
	<symbol id="close" viewBox="0 0 21.9 21.9">
		<path d="M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z"/>
	</symbol>

	<symbol id="svg-ring">
		<path class="path" fill="none" stroke-miterlimit="10" stroke-width="4" d="M 34 2 C 16.3 2 2 16.3 2 34 s 14.3 32 32 32 s 32 -14.3 32 -32 S 51.7 2 34 2"></path>
	</symbol>

	<symbol id="zero">
		<mask id="mask">
			<path fill="none" stroke-miterlimit="10" stroke-width="4" d="M 34 2 c 11.6 0 21.8 6.2 27.4 15.5 c 2.9 4.8 5 16.5 -9.4 16.5 h -4"></path>
		</mask>
	</symbol>

	<symbol id="search" viewBox="0 0 41 40">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M30.4134 20.9297C27.3798 23.9632 22.4615 23.9632 19.4279 20.9297C16.3944 17.8961 16.3944 12.9778 19.4279 9.94423C22.4615 6.91068 27.3798 6.91068 30.4134 9.94423C33.4469 12.9778 33.4469 17.8961 30.4134 20.9297ZM18.2816 23.916C22.5071 27.2331 28.641 26.9448 32.5347 23.051C36.7398 18.8459 36.7398 12.028 32.5347 7.82291C28.3296 3.61779 21.5117 3.61779 17.3066 7.82291C13.3844 11.7451 13.1205 17.9403 16.515 22.1684L7.9983 30.6851C7.60777 31.0756 7.60777 31.7088 7.9983 32.0993L8.34117 32.4422C8.7317 32.8327 9.36486 32.8327 9.75539 32.4422L18.2816 23.916Z" fill="#3E4660"/>
	</symbol>

	<symbol id="href" viewBox="0 0 21 21">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M15.0931 0.0713196H21V5.99795L18.8735 3.86436L10.84 11.9246L9.1861 10.2651L17.2196 2.20491L15.0931 0.0713196ZM18.5263 20.9287V6.10519L17.2179 7.41733V7.41865L16.4558 8.18329V18.8512H2.27911V4.62731H12.9116L14.093 3.44199H14.0894L15.0004 2.54987H0.208496V20.9287H18.5263Z" fill="#EDEFF2"/>
	</symbol>
</svg>
